@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
      @apply dark:bg-black
  }
}

.sphere {
  height: 300px;
  width: 300px;
  filter: blur(80px);
}

.waves {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.carousel-card{
  height: 275px !important;
  width: 275px !important;
  display: flex !important;
}

.slick-slide div {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
}

.mini_blogs_icon_container svg {
  height: 40px;
  width: 40px;
}