@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body {
      @apply dark:bg-black
  }
}

.sphere {
  height: 300px;
  width: 300px;
  filter: blur(80px);
}

.waves {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}